
[Unit]
Description=user Service

[Service]
User=root
Environment=CART_ENDPOINT=CARTENDPOINT:8080
Environment=DB_HOST=DBHOST
ExecStart=/bin/java -jar /home/ubuntu/users/users.jar
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target
